.beastContainer {
  background-color: greenyellow;
  /* display: flex; */
}

img {
  width: 200px;
  /* flex: 2; */
}

.title {
  background-color: green;
  /* flex: 6; */
}

.description {
  /* flex: 6; */
}

.beast-cards {
  padding: 16px;
}